/*
 * Copyright (c) 2023 HARDWARIO a.s.
 *
 * SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
 */


/* {{ variant_name }} -------------------------------------------------*/
{% for feature in data['features'] %}
    {%- if feature in chester_features and chester_features[feature]['app_overlay'] is not none %}
/* {{feature | upper}} ----------------------------------------------------------------------*/
{{ chester_features[feature]['app_overlay'] }}
    {%endif-%}
{%- endfor %}
/* USER CODE BEGIN Overlay */
/* USER CODE END Overlay */
