#
# Copyright (c) 2024 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

cmake_minimum_required(VERSION 3.20.0)

find_package(Zephyr REQUIRED HINTS $ENV{ZEPHYR_BASE})

project({{ project_name }})
{% for root, dirs, files in sources %}
	{%- for file in files %}
		{%- if file.endswith(".c") and file != 'app_tamper.c' and file != 'app_ble_svc.c'%}
target_sources(app PRIVATE src/{{ file }})
		{%- endif %}
	{%- endfor %}
{%- if 'app_tamper.c' in files %}    
target_sources_ifdef(CONFIG_APP_TAMPER app PRIVATE src/app_tamper.c)
{%- endif%}
{%- if 'app_ble_svc.c' in files %}    
target_sources_ifdef(CONFIG_CTR_BLE app PRIVATE src/app_ble_svc.c)
{%- endif%}
{%- if 'app_cbor.c' in files %}    
target_sources_ifdef(CONFIG_SHIELD_CTR_LTE app PRIVATE src/app_cbor.c)
{%- endif%}
{%- endfor %}
