#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#
{%- set variant_name_lower = variant_name|lower %}

menu "Application"

# {{ variant_name }} Project ------------------------------------------------- #
{% for feature in data['features'] %}
    {%- if feature in chester_features and chester_features[feature]['k_config'] is not undefined %}
# {{feature | upper}} ---------------------------------------------------------------------- #
config {{chester_features[feature]['k_config']}}
	bool "Enable {{chester_features[feature]['k_config']}}"
	default y 
    {%endif-%}
    {%- if feature in chester_features and chester_features[feature]['k_config_diff'] is defined %}
# {{feature | upper}} ---------------------------------------------------------------------- #
config APP_{{feature | upper}}
	bool "{{ chester_features[feature].get('k_config_diff', {}).get('bool', 'n')}}"
	default y 
{{ chester_features[feature].get('k_config_diff', {}).get('select', 'n')}}
    {%endif-%}
{%- endfor %}
endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu




