#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

# Configurations ------------------------------------------------------------------ #
{% for feature in data['features'] %}
    {%- if feature in chester_features -%}
{{ chester_features[feature]['prj_conf'] }}
    {%- endif -%}
{%- endfor %}
# Extra configurations ------------------------------------------------------------------ #

{%- for extra in data['extras'] %}
{{extra}}
{%- endfor %}

# USER CODE BEGIN Config 
# USER CODE END Config 
