#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

{% for feature in data['features'] -%}
    {%- set found = false %}
    {%- for key, value in dict_features.items() %}
        {%- if key == feature -%}
{{ value }}
            {%- set found = true %}
        {%- endif %}
    {%- endfor -%}
    {%- if not found -%}
    {%- endif %}
{%- endfor -%}
{%- for extra in data['extras'] %}
{{extra}}
{%- endfor %}