/*
 * Copyright (c) 2023 HARDWARIO a.s.
 *
 * SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
 */


/* Input -------------------------------------------------*/

/* LTE ----------------------------------------------------------------------*/
&ctr_lte_if {
	status = "okay";
};

&uart0 {
	status = "okay";
};
    
/* LRW ----------------------------------------------------------------------*/
&ctr_lrw_if {
	status = "okay";
};

&uart1 {
	status = "okay";
};
    
/* TAMPER ----------------------------------------------------------------------*/
/ {
	zephyr,user {
		tamper-gpios = <&gpio0 12 GPIO_ACTIVE_HIGH>;
	};
};
    
/* USER CODE BEGIN Overlay */
/* USER CODE END Overlay */