/* CHESTER TEST Project | TEST Variant */

/* LTE  */
&ctr_lte_if {
	status = "okay";
};

&uart0 {
	status = "okay";
};
/* LRW   */
&ctr_lrw_if {
	status = "okay";
};

&uart1 {
	status = "okay";
};
/* S2  */
&sht30_ext {
	status = "okay";
};
