#
# Copyright (c) 2023 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

menu "Application"

# Counter Project ------------------------------------------------- #

# LTE ---------------------------------------------------------------------- #
config SHIELD_CTR_LTE
	bool "Enable SHIELD_CTR_LTE"
	default y 
    
# X0_A ---------------------------------------------------------------------- #
config SHIELD_CTR_X0_A
	bool "Enable SHIELD_CTR_X0_A"
	default y 
    
# REPORT_JITTER ---------------------------------------------------------------------- #
config APP_REPORT_JITTER
	bool "Add random time jitter to report transfers"
	default y 
	select ENTROPY_GENERATOR
    
# TAMPER ---------------------------------------------------------------------- #
config APP_TAMPER
	bool "Enable tamper functionality"
	default y 
	select CTR_EDGE
    
endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu



