//
// Copyright (c) 2023 HARDWARIO a.s.
//
// SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
//

/* PUSH Project ------------------------------------------------- */

/* LRW  ---------------------------------------------------------------------- */
&ctr_lrw_if {
	status = "okay";
};

&uart1 {
	status = "okay";
};
    
/* LTE ---------------------------------------------------------------------- */
&ctr_lte_if {
	status = "okay";
};

&uart0 {
	status = "okay";
};
    
/* Z ---------------------------------------------------------------------- */
&ctr_z {
	status = "okay";
};
    