#
# Copyright (c) 2024 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

menu "Application"

# PUSH Project ------------------------------------------------- #
# LRW  ---------------------------------------------------------------------- #
config SHIELD_CTR_LRW
	bool "Enable SHIELD_CTR_LRW"
	default y 

config CTR_LRW
	default y
# LTE ---------------------------------------------------------------------- #
config SHIELD_CTR_LTE
	bool "Enable SHIELD_CTR_LTE"
	default y 

config CTR_LTE
	default y
# Z ---------------------------------------------------------------------- #
config SHIELD_CTR_Z
	bool "Enable SHIELD_CTR_Z"
	default y 

config CTR_Z
	default y

config I2C
	default y

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu