//
// Copyright (c) 2023 HARDWARIO a.s.
//
// SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
//

/* SIGNAL Project ------------------------------------------------- */

/* LTE ---------------------------------------------------------------------- */
&ctr_lte_if {
	status = "okay";
};

&uart0 {
	status = "okay";
};
    
/* S2 ---------------------------------------------------------------------- */
&sht30_ext {
	status = "okay";
};
    