//
// Copyright (c) 2023 HARDWARIO a.s.
//
// SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
//

/* SCALE Project ------------------------------------------------- */

/* LTE ---------------------------------------------------------------------- */
&ctr_lte_if {
	status = "okay";
};

&uart0 {
	status = "okay";
};
    
/* X3_A ---------------------------------------------------------------------- */
&ctr_x3_a {
	status = "okay";
};

&ctr_x3_ads122c04_a1 {
	status = "okay";
};

&ctr_x3_ads122c04_a2 {
	status = "okay";
};
    
/* X3_B ---------------------------------------------------------------------- */
&ctr_x3_b {
	status = "okay";
};

&ctr_x3_ads122c04_b1 {
	status = "okay";
};

&ctr_x3_ads122c04_b2 {
	status = "okay";
};
    
/* Z ---------------------------------------------------------------------- */
&ctr_z {
	status = "okay";
};
    
/* PEOPLE_COUNTER ---------------------------------------------------------------------- */
&i2c0 {
	people_counter: people_counter@7f {
		compatible = "adastra,people-counter";
		status = "okay";
		reg = <0x7f>;
	};
}; 
    