#
# Copyright (c) 2024 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

menu "Application"

# CHESTER SCALE Project | SCALE Variant 

# LTE 
config SHIELD_CTR_LTE
	bool "Enable SHIELD_CTR_LTE"
	default y 

config CTR_LTE
	default y
# X3_A 
config SHIELD_CTR_CTR_X3_A
	bool "Enable SHIELD_CTR_X3_A"
	default y 

config CTR_X3
	default y

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
