#
# Copyright (c) 2024 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

menu "Application"

# SCALE Project ------------------------------------------------- #

# LTE ---------------------------------------------------------------------- #
config SHIELD_CTR_LTE
	bool "Enable SHIELD_CTR_LTE"
	default y 

config CTR_LTE
	default y
	
# X3_A ---------------------------------------------------------------------- #
config SHIELD_CTR_CTR_X3_A
	bool "Enable SHIELD_CTR_X3_A"
	default y 

config CTR_X3
	default y
	
# X3_B ---------------------------------------------------------------------- #
config SHIELD_CTR_X3_B
	bool "Enable SHIELD_CTR_X3_B"
	default y 

config CTR_X3
	default y
	
# Z ---------------------------------------------------------------------- #
config SHIELD_CTR_Z
	bool "Enable SHIELD_CTR_Z"
	default y 

config CTR_Z
	default y

config I2C
	default y
	
# PEOPLE_COUNTER ---------------------------------------------------------------------- #
config SHIELD_PEOPLE_COUNTER
	bool "Enable SHIELD_PEOPLE_COUNTER"
	default y

config PEOPLE_COUNTER
	default y

config I2C
	default y  

endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu