#
# Copyright (c) 2024 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

menu "Application"

# CLIME Project ------------------------------------------------- #

# TAMPER ---------------------------------------------------------------------- #
config APP_TAMPER
	bool "Enable tamper functionality"
	default y 
	select CTR_EDGE
	
# LTE ---------------------------------------------------------------------- #
config SHIELD_CTR_LTE
	bool "Enable SHIELD_CTR_LTE"
	default y 

config CTR_LTE
	default y
	
# LRW  ---------------------------------------------------------------------- #
config SHIELD_CTR_LRW
	bool "Enable SHIELD_CTR_LRW"
	default y 

config CTR_LRW
	default y
	
# S2 ---------------------------------------------------------------------- #
config SHIELD_CTR_S2
	bool "Enable SHIELD_CTR_S2"
	default y 

config CTR_HYGRO
	default y
	
# SOIL_SENSOR ---------------------------------------------------------------------- #
config SHIELD_CTR_SOIL_SENSOR
	bool "Enable SHIELD_CTR_SOIL_SENSOR"
	default y 

config CTR_SOIL_SENSOR
	default y
	
# X4_A ---------------------------------------------------------------------- #
config SHIELD_CTR_CTR_X4_A
	bool "Enable SHIELD_CTR_X4_A"
	default y 

config CTR_X4
	default y
	
# Z ---------------------------------------------------------------------- #
config SHIELD_CTR_Z
	bool "Enable SHIELD_CTR_Z"
	default y 

config CTR_Z
	default y

config I2C
	default y
	
endmenu

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu