/*
 * Copyright (c) 2023 HARDWARIO a.s.
 *
 * SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
 */

/* LTE  ----------------------------------------------------------------------*/
&ctr_lte_if {
    status = "okay";
};

&uart0 {
	status = "okay";
};

/* X0_A  ----------------------------------------------------------------------*/
&ctr_x0_a {
    status = "okay";
};

&ctr_x0_pcal6416a_a {
    status = "okay";
};

/* Z  ----------------------------------------------------------------------*/
&ctr_z {
    status = "okay";
};

/* S2  ----------------------------------------------------------------------*/
&sht30_ext {
    status = "okay";
};

/* USER CODE BEGIN Overlay */
/* USER CODE END Overlay */