/*
 * Copyright (c) 2024 HARDWARIO a.s.
 *
 * SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
 */

/* CHESTER INPUT Project | INPUT Variant */

/* LTE  */
&ctr_lte_if {
	status = "okay";
};

&uart0 {
	status = "okay";
};
/* X0_A  */
&ctr_x0_a {
	status = "okay";
};

&ctr_x0_pcal6416a_a {
	status = "okay";
};
/* Z  */
&ctr_z {
	status = "okay";
};
/* DS18B20  */
&ds2484 {
	ds18b20_0: ds18b20_0 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_1: ds18b20_1 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_2: ds18b20_2 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_3: ds18b20_3 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_4: ds18b20_4 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_5: ds18b20_5 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_6: ds18b20_6 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_7: ds18b20_7 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_8: ds18b20_8 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};

	ds18b20_9: ds18b20_9 {
		compatible = "maxim,ds18b20";
		resolution = <12>;
		family-code = <0x28>;
	};
};
