#
# Copyright (c) 2024 HARDWARIO a.s.
#
# SPDX-License-Identifier: LicenseRef-HARDWARIO-5-Clause
#

cmake_minimum_required(VERSION 3.20.0)

# Supported shields: {% for shield in supported_shields %}{{ shield }} {% endfor +%}
set(SHIELD {{ shields }})

find_package(Zephyr REQUIRED HINTS $ENV{ZEPHYR_BASE})

project({{ project_name }})

{% for root, dirs, files in sources %}
{%- for file in files %}
{%- if file.endswith(".c") %}
target_sources(app PRIVATE {{ root }}/{{ file }})
{%- endif %}
{%- endfor %}
{%- endfor %}
