{#- COPYRIGHT AND LICENSE #}
{%- if data['project']['company'] or data['project']['license'] -%}
#
	{%- if data['project']['company'] %}
# Copyright (c) {{data['project']['company']}}
	{%- endif %}
	{%- if data['project']['company'] and data['project']['license'] %}
# 
	{%- endif %}
	{%- if data['project']['license'] %}
#  {{data['project']['license'] }}
	{%- endif %}
#
{% raw %}
{% endraw %}
{%- endif -%}
cmake_minimum_required(VERSION 3.20.0)

set(ENV{FW_BUNDLE} "{{data['project']['bundle']}}")
set(ENV{FW_VERSION} "{{data['project']['version']}}")
set(ENV{FW_NAME} "{{data['project']['name']}}")

find_package(Zephyr REQUIRED HINTS $ENV{ZEPHYR_BASE})

project({{ project_name }})
{%- if 'lrw' in data['features']%}

add_custom_command(
    COMMAND ../../../scripts/gen-msg-key.py ../codec/cbor-decoder.yaml ../src/msg_key.h
    OUTPUT ../src/msg_key.h
    MAIN_DEPENDENCY ../codec/cbor-decoder.yaml
)
{%- endif %}
{% for file in sources %}
	{%- if  file != 'app_tamper.c' and file != 'app_ble_svc.c'%}
target_sources(app PRIVATE src/{{ file }})
	{%- endif %}
	{%- if 'app_tamper.c' in files %}    
target_sources_ifdef(CONFIG_APP_TAMPER app PRIVATE src/app_tamper.c)
	{%- endif%}
	{%- if 'app_ble_svc.c' in files %}    
target_sources_ifdef(CONFIG_CTR_BLE app PRIVATE src/app_ble_svc.c)
	{%- endif%}
	{%- if 'app_cbor.c' in files %}    
target_sources_ifdef(CONFIG_SHIELD_CTR_LTE app PRIVATE src/app_cbor.c)
	{%- endif%}
{%- endfor %}
{%- raw %}
{% endraw%}